<figure class="figur-wrapper clearfix">
    <div class="figur {{ width }} {{ position }}" id="{{ hash ~ key }}">
      <img src="{{ image }}"  class="cover" alt="captioned photo">
      <cite>{{ cite }}</cite>
        <div class="caption">{{ shortcode.getContent() }}</div>
    </div>
</figure>
